.messagebox{
    margin: 0 auto;
    width:250px;
    border:1px solid #c93;
    background:#666666;
    padding:3px;color:white;
}
.messageboxinfo{
    margin: 0 auto;
    width:250px;
    border:1px solid #46b8da;
    background:#5bc0de;
    color:#fff;
}
.messageboxok{
    margin: 0 auto;
    width:250px;
    border:1px solid #349534;
    background:#C9FFCA;
    padding:3px;
    color:#008000;

}
.messageboxerror{
    margin: 0 auto;
    width:250px;
    border:1px solid #CC0000;
    background:#F7CBCA;
    padding:3px;
    color:#CC0000;
}